+++
title = "資訊架構備忘表"
linkTitle = "IT Architecture Cheat Sheet"

+++

{{< blocks/cover title="歡迎來到資訊架構備忘表!" image_anchor="top" height="full" color="light" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/Cheat Sheet" >}}">
		備忘表 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/bradhuang9999/IT-Architecture-CheatSheet">
		原始碼 <i class="fab fa-github ml-2 "></i>
	</a>

	<br>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
彙整架構設計的重要知識點，  
包含：資訊安全、可用性、基礎設施、資料儲存和軟體架構。
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/bradhuang9999/IT-Architecture-CheatSheet" %}}
We do a [Pull Request](https://github.com/bradhuang9999/IT-Architecture-CheatSheet/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{< /blocks/section >}}
